# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
venv/
env/
ENV/
.venv/
.env/

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Git
*.DS_Store
*.idea/
